<template lang="html">
  <section>
    <div class="container">
      <nav class="navbar navbar-light bg-danger text-light">
        <a class="navbar-brand" href="#!">Navbar</a>
      </nav>
    </div>
  </section>
</template>
