<template lang="html">
  <div class="card">
    <img class="card-img-top" v-bind:src="track.album.images[1].url">
    <div class="card-body">
      <h4 class="card-title">{{track.album.name}}</h4>
      <p class="card-text">
        Artist: {{track.album.artists[0].name}}
      </p>
      <img v-bind:src="track.album.images[2].url" alt="">
      <small>{{ track.duration_ms }} </small>
      <button type="button" class="btn btn-primary" name="button" @click="selectTrack">Play Song</button>
    </div>
  </div>
</template>

<script>
export default {
  // Recibiendo informacion desde el componente padre APP.VUE, con propiedades
  props:{
    track: { type: Object, required: true }
  },
  // Enviando informacion al componente padre, se hace con eventos
  methods: {
    selectTrack() {
      this.$emit('select', this.track.id)
    }

  }
}
</script>

<style lang="css">
</style>
