<template>
  <div id="app">
    <pm-header/>

    <pm-notification v-show="showNotification"/>

    <pm-loader v-show="isLoading"/>
    <div class="container my-3" v-show="!isLoading">
      <div class="form-group form-inline my-2 my-lg-0">
        <input v-model="searchQuery" type="text" placeholder="Buscar data" class="form-control">
        <button v-on:click="search" type="button" class="btn btn-primary">Buscar</button>
        <button type="button" class="btn btn-danger">&times</button>
      </div>

      <div class="container-flow">
        <div class="row">
          <div v-for="t in tracks">
            <div class="col-xs-3 col-md-12 col-sm-12 pt-4">
              <pm-track v-bind:class="{ 'is-active': t.id == selectedTrack }" v-bind:track="t" v-on:select="setSelectedTrack" />
            </div>
          </div>
        </div>
      </div>
      <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">Track Name</th>
            <th scope="col">Artists</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="t in tracks">
            <td>{{ t.name }}</td>
            <td>{{ t.artists[0].name }}</td>
          </tr>
        </tbody>
      </table>

      <div class="row">
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
          <strong>{{searchMessage}}</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <pm-footer/>
    </div>
  </div>
</template>

<script>
import trackService from '@/services/track'
import PmFooter from '@/components/layout/Footer.vue'
import PmHeader from '@/components/layout/Header.vue'

import pmTrack from '@/components/Track.vue'

import pmNotification from '@/components/shared/Notification.vue'
import pmLoader from '@/components/shared/loader.vue'


// ya no se necesita por que tenemos los services a un api
//const tracks = [
//   {name:'muchacha', artist: 'luis alberto'},
//   {name:'fuego', artist: 'marcos with'},
//   {name:'jesus', artist: 'jesus adrian romero'},
//   {name:'es el rey', artist: 'roberto orellana'}
// ]

export default {
  name: 'app',

  components: {
    PmFooter,
    PmHeader,
    pmTrack,
    pmLoader,
    pmNotification
  },

  data () {
    return {
      searchQuery: '',
      tracks: [],
      isLoading: false,
      selectedTrack:'',
      showNotification: false
    }
  },
  computed: {
    searchMessage () {
      return `Encontrados: ${this.tracks.length}`
    }
  },

  watch: {
      showNotification() {
        if (this.showNotification) {
          setTimeout(() => {
            this.showNotification = false
          },3000)
        }
      }
  },

  methods: {
    search() {
      if (!this.searchQuery) {
        return
      }
      this.isLoading = true
      trackService.search(this.searchQuery)
      .then(res => {
        this.showNotification = res.tracks.total === 0
        this.tracks = res.tracks.items
        this.isLoading = false
      })
    },
    setSelectedTrack(id) {
      this.selectedTrack= id
    }
  }
}
</script>

<style lang="scss">
  .is-active{
    border: 3px #de10ba solid;
  }
</style>
