<template lang="html">
  <div class="container">
    <div class="row">
        <div class="content">
          <h1>CARGANGO ...</h1>
        </div>
    </div>
  </div>
</template>



<style media="screen" scoped>
.content{
  padding: 20px;
  min-height: 40vh;
}
</style>
