<template lang="html">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-warning d-flex" role="alert">
          <slot name="body">
            <strong>Warning!</strong> Tenemos problemas!!...
          </slot>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="css">
.alert{
  margin: 10px
}
</style>
