<template lang="pug">
  #App
    .container
      .input-group
        input(v-model="searchQuery" type="text" placeholder="Buscar")
        .input-group-append
          button(v-on:click="search" class="btn btn-primary") Buscar
          button(class="btn btn-danger") X
    .container
      .row
        p
          small {{ searchMessage }}
        .col-md-10(v-for="track in tracks") 
          | {{ track.name }} - {{ track.artist[0].name }}
    .container
      .row
        .col-md-12
          p nombre
          input(v-model="name")
          p apellido
          input(v-model="lastName")
          p
          a(v-bind:href="url") HOLA: {{ fullName }}
    .container
      .row
        h1 EJERCICIO MANIPULACION DEL DOM
        P {{ name }}
        ul
          li(v-for="task in tasks") {{ task.title }}  -  {{ task.time }}
</template>

<script>
import trackServices from './services/track.js'

export default {
  name: 'app',
  data () {
    return {
      name: 'Oscar Stevens cuartas',
      tasks: [],
      lastName: '',
      url: 'https://google.com',
      formatName: '',
      searchQuery: '',
      tracks: []
    }
  },
  computed: {
    searchMessage () {
      return this.tracks.length
    },
    fullName () {
      return this.name + ' ' + this.lastName
    }
  },
  methods: {
    search () {
      trackServices.search(this.searchQuery)
        .then(res => {
          this.tracks = res.tracks.items
        })
    },
    format () {
      this.formatName = this.name
    }
  },
  watch: {
    name (newval, oldval) {
      console.log(newval, oldval)
    }
  }
}
</script>

<style lang="scss">
  @import './scss/main.scss'

</style>
